/* common */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    margin: 0;
    font-style: 24px;
    font-weight: normal;
    color: #22577a;

}

h1{
    font-size: 24px;
}

h2{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    margin: 0;
    line-height: 1.6;
}

p + p {
    margin-top: 16px;
}

img{
    vertical-align: bottom;
}

.container{
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;

}

.btn{
    display: block;
    width: 160px;
    background: #329e00;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px 0;
    font-weight: bold;
}

/* header */

header{
    padding: 16px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero */

.hero{
    background-color: #99e6ff;
    background-image: url(../img/bg.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    padding-top: 60px;
    text-align: center;
}

.hero p{
    margin-top: 8px;
}

.hero .btn{
    margin: 64px auto 0;
}

.hero img{
    margin-top: 64px;
}

/* features */

.features{
    padding: 64px 0;
}

.features h1{
    text-align: center;
    padding-bottom: 64px;
}

.features .pic{
    padding: 32px;
}

.features img{
    width: 100%;
}

.features h2{
    padding-bottom: 16px;
}

.features section + section{
    margin-top: 40px;
}

/* voices */

.voices{
    background: #99e6ff;
    padding: 0 0 64px;
}

.voices > h1{
    padding: 64px 0 32px;
    text-align: center;
}

.box{
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

.user{
    display: flex;
    padding: 10px 0;
}

.user > p{
    align-self: center;
    /* background: #ccc; */
    font-size: 18px;
    padding-left: 10px;
}

.box + .box{
    margin-top: 16px;
}

/* call-to-action */

.call-to-action{
    padding: 64px 0;
    background-color: #99e6ff;
    background-image: url(../img/bg.png);
    background-repeat: repeat-x;
    background-position: center bottom;
}

.call-to-action h1{
    text-align: center;
    padding-bottom: 64px;
}
.call-to-action a{
    margin: 0 auto;
}

/* copyright */
.copyright{
    background: #323435;
    color: #fff;
    text-align: center;
    padding: 32px 0;
    font-size: 16px;
}

/* large screen */

@media (min-width:600px) {
    .hero .container{
        display: flex;
        align-items: center;
    }

    .hero .desc, .hero .pic{
        width: 50%
    }

    .hero img{
        width: calc(100% - 32px);
        height: auto;
        margin-top: 0px;
    }

    .features section{
        display:flex;
    }

    .features section:nth-child(odd){
        flex-direction: row-reverse;
    }

    .voices .container{
        display: flex;
        gap: 16px;
    }

    .voices .container div + div{
        margin-top: 0px;
    }

    .voices .box{
        width: calc((100% - 32px) / 3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}


